html, body, #app {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  position: relative;
  max-width: 1000px;
  height: 640px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}