html, body, #app {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

ncrs-ui {
  max-width: 1000px;
  max-height: 640px;
}